body {
  margin: 0;
}
#canvasOverlay {
  position: absolute;
  top: 0;
  left: 0;
}
#partialProject div {
  border: black 2px dotted;
  margin: 8px;
}
.canvasOverlayBtn {
  position: absolute;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.margin5 {
  margin: 5px;
}
.padding5 {
  padding: 5px;
}
.none {
  display: none;
}
.block {
  display: block;
}
#newProject {
  text-align: left;
}
#mainContainer {
  height: 70vh;
}
#unsavedChangesDiv {
  position: absolute;
  height: 100px;
  width: 150px;
  bottom: 0;
  right: 0;
}
